# Backend specific env variables.
BACKEND_CORS_ORIGINS="http://localhost,http://localhost:5173,https://localhost,https://localhost:5173"
# Used to include additional routes or settings for testing or development purposes.
# One of: "development" or "production".
ENVIRONMENT=development

# Voiceprint verification/enorollment specific env variables.
MIN_NUMBER_OF_ENROLLMENT_FILES=3
VERIFICATION_THRESHOLD=0.7
# One of: "peak", "rms".
AMPLITUDE_NORMALIZATION_HANDLER="peak"
# Strategy to aggregate multiple embeddings into a single embedding during enrollment.
# One of: "mean", "attention".
EMBEDDING_AGGREGATION_STRATEGY="mean"

# PostgreSQL specific env variables.
POSTGRES_USER=dba
POSTGRES_PASSWORD=sql
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=voiceprint-app
